
@{
    ViewBag.Title = "Education";
}

<h3>Education</h3>

<ul>
    <h3>BSc</h3>
    <li>10th Semester</li>
    <li>BSc in CSE</li>
    <li>AIUB</li>
</ul>
<ul>
    <h3>HSC</h3>
    <li>Year:2019</li>
    <li>Gazipur Ideal College</li>
    <li>Group:Science</li>
</ul>
<ul>
    <h3>SSC</h3>
    <li>Year:2017</li>
    <li>Rani Bilashmoni Govt. Boys High School</li>
    <li>Group: Science</li>
</ul>
<a href="/Portfolio/Index">Go Back </a>

