
@{
    ViewBag.Title = "Index";
}

    
        <a href="/Portfolio/Index">Home</a>
        <a href="/Portfolio/Education">Education</a>
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/References">References</a>
    



<h2>Name:</h2><h1>MD.SHAHZAD HUSSAIN RAYIED</h1>
<h2>Email:</h2><h1>hussainrayied9@gmail.com</h1>
<h2>Github:</h2><h2><a href="https://github.com/Rayied991">Rayied</a></h2>
