
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table border="4">
    <tr>
        <th>Course Name</th>
        <th>Project Description</th>
    </tr>
    <tr>
        <td>OOP1</td><td>Restuarant Management System</td>

    </tr>

    <tr>
        <td>OOP2</td><td>Tour Guide Management System</td>
    </tr>

    <tr>
        <td>Web-Technology</td><td>Movie Ticketing System</td>
    </tr>
</table>
<a href="/Portfolio/Index">Go Back </a>

